<span class="likes">
	<% liked = current_user.likes.find_by(post_id: post.id) %>
	<% if liked == nil %>
		<%= form_for(@like) do |f| %>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.hidden_field :post_id, value: post.id %>
			<%= f.submit "Like", class: "btn btn-primary btn-sm like_btn" %>
		<% end %>
	<% else %>
			<%= link_to "Unlike", like_url(liked), method: :delete, class: "btn btn-danger btn-sm unlike_btn" %>
	<% end %>
</span>