<li id="post-<%= post.id %>" class="post">
	<span class="content"><%= post.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(post.created_at) %> ago by <em><%= link_to post.user.name, post.user %></em>
		<% if post.user == current_user %>
			 - <%= link_to "delete", post_url(post), method: :delete, class: "delete_link" %>
		<% end %>
	</span>
	<ul class="comments">
		<% post.comments.each do |comment| %>
			<%= render 'posts/comment', comment: comment %>
		<% end %>
	</ul>
	<%= render 'posts/make_comment', post: post %>
	<%= render 'posts/likes', post: post %>
</li>