<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "Odin Facebook", root_url, id: 'logo' %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<% if user_signed_in? %>
					<li><%= link_to "Profile", user_url(current_user.id) %></li>
					<li><%= link_to "Users", users_url %></li>
					<li><%= link_to "Notifications", notifications_user_url(current_user.id) %></li>
					<li><%= link_to "Settings", edit_user_registration_url(current_user.id) %></li>
				<% else %>
					<li><%= link_to "Home", root_url %></li>
				<% end %>
				<li><%= link_to "About", about_url %></li>
				<% if user_signed_in? %>
					<li><%= link_to "Logout", destroy_user_session_url, method: :delete %></li>
				<% else %>
					<li><%= link_to "Login", new_user_session_url %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>